# Virtual environment
.venv/
venv/
env/

# VS Code settings
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# OS-generated temporary files
.DS_Store
Thumbs.db
